
@model MacevalackaAplikacija.Models.UcesnickiNalogBO

@using MacevalackaAplikacija.Controllers




@{
    ViewBag.Title = "Napravi ucesnika";
}
<h4>Dodavanje ucesnika</h4>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label ">Ucesnik</label>

            <div>
                <br />
                <label>Ime i Prezime:</label>
                @Html.EditorFor(model => model.ImePrezime, new { htmlAttributes = new { @class = "form-control" } })
                <br />
                <label>Klub:</label>
                @Html.EditorFor(model => model.Klub, new { htmlAttributes = new { @class = "form-control" } })
                <br />
                <label>Turnirska uloga:</label>
                @Html.EditorFor(model => model.Uloga, new { htmlAttributes = new { @class = "form-control" } })
                <br />
                <label>Disciplina:</label>

                @Html.DropDownListFor(model => model.Disciplina.DiscID, new SelectList(ViewBag.Discipline, "DiscID", "DiscNaziv"), "Selektuj disciplinu..", new { @class = "form-control" })
                @*@Html.DropDownList(model => model.Disciplina.DiscNaziv, new SelectList(ViewBag.Discipline, "DiscID", "DiscNaziv"), "Selektuj disciplinu", new { @class = "form-control" })*@


                <br />
                <label>Faza Takmicenja:</label>

                @Html.DropDownListFor(model => model.faza.FazaTakmicenjaID, new SelectList(ViewBag.Faze, "FazaTakmicenjaID", "NazivFazeTakmicenja"), "Selektuj disciplinu..", new { @class = "form-control" })


                @*@Html.DropDownListFor(model => model.faza.NazivFazeTakmicenja, new SelectList(ViewBag.Faze, "FazaTakmicenjaID", "NazivFazeTakmicenja"), "Selektuj disciplinu", new { @class = "form-control" })*@


                <br />
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sacuvaj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Vrati se na listu", "IndexUce")
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval");
}

