
@model MacevalackaAplikacija.Models.UcesnickiNalogBO
@using MacevalackaAplikacija.Controllers





@{
    ViewBag.Title = "Edit";
}

<h2>Editovanje(izmena) ucesnika</h2>


@using (Html.BeginForm())
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="row">

                <label class="control-label">ID ucesnika(nije moguce menjati)</label>

                @Html.TextBoxFor(model => model.ucesnikID, new { htmlAttributes = new { disabled = "disabled", @readonly = "readonly" } })
                @Html.ValidationMessageFor(bo => bo.ucesnikID, "", new { @class = "text-danger" })

                <br />
                <label class="control-label">Ime i prezime</label>
                @Html.EditorFor(bo => bo.ImePrezime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(bo => bo.ImePrezime, "", new { @class = "text-danger" })
                <br />
                <label class="control-label">Klub</label>
                @Html.EditorFor(bo => bo.Klub, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(bo => bo.Klub, "", new { @class = "text-danger" })
                <br />
                <label class="control-label">Uloga</label>
                @Html.EditorFor(bo => bo.Uloga, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(bo => bo.Uloga, "", new { @class = "text-danger" })
                <br />
                <label class="control-label">Disciplina</label>
                @Html.EditorFor(bo => bo.Disciplina, new { htmlAttributes = new { @class = "form-control" } })

               @* iskoristi identicnu dropdown listu,isto kao kod createUce,manje opcija,ali trebalo bi da ne puca i  ne zeza tako

                   
                   
                   ako jelte pokusam da tu stavim i .DiscNaziv ili id,isto i za fazu puca program
                   uvek se na kraju desi da ovo zeza,
                   da li je problem mozda do kompjutera?
                   (znaci createUce sad radi lepo,moze se odabere lepo koja disciplina/faza i da ne pravi novu,ali edit to i dalje radi
                   )
                   *@
                @Html.ValidationMessageFor(bo => bo.Disciplina, "", new { @class = "text-danger" })
                <br />
                <label class="control-label">Faza</label>
                @Html.EditorFor(bo => bo.faza, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(bo => bo.faza, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Sacuvaj izmene" class="btn btn-default" />
        </div>

    </div>


}
<br />





@*<h4>Ucesnici:</h4>
    <br />
    @if (Model != null)
    {

        Html.RenderAction("DajUcesnikePoID", "Ucesnicki", Model.ucesnickiID);
    }
*@
@*3939 screenshot kaze sto ovo ne radi*@




