@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mačevalačka aplikacija</h1>
</div>

<div class="row">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Učesnici", "IndexUce", "Ucesnicki")</li>
            <li>@Html.ActionLink("Discipline", "IndexDisc", "Disciplina")</li>
            <li>@Html.ActionLink("Faze", "IndexFaza", "Faza")</li>
            <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
            <li>@Html.ActionLink("Opis aplikacije", "About", "Home")</li>
        </ul>
    </div>
</div>

<br />
<br />